@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color: #F2F2F2;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0px 0px 3px 6px #E5E5E5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-top {
  display: flex;
  justify-content: space-between;
  margin: 0 70px;
  margin-bottom: -30px;
  position: relative;
  z-index: 1;
}

.header-logo {
  width: 140px;
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 17px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.navigation-link-current::before {
  content: "";
  position: absolute;
  background-color: #756257;
  height: 2px;
  right: 17px;
  left: 17px;
  bottom: 1px;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-user {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 320px;
  margin-left: auto;
  margin-bottom: 10px;
}

.button-search {
  padding: 24px 12px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.button-search:hover {
  color: #756257;
}

.button-search:active {
  color: #756257;
  opacity: 0.3;
}

.search {
  width: 18px;
  height: 18px;
}

.favorite-container {
  position: relative;
  padding: 24px 12px;
  margin-right: 20px;
  cursor: pointer;
}

.favorite-container:hover {
  color: #756257;
}

.favorite-container:active {
  color: #756257;
  opacity: 0.3;
}

.favorite {
  width: 18px;
  height: 17px;
}

.favorite-counter {
  position: relative;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  letter-spacing: -0.1em;
  color: #ffffff;
  transform: translate(12px, -30px);

}

.favorite-counter::after {
  content: " ";
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: -5%;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: #7DB54F;
  z-index: -1;
}

.header-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756257;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 15px;
  width: 160px;
  border: none;
  border-radius: 4px;
  margin-top: -28px;
  cursor: pointer;
}

.header-button:hover {
  background-color: #615048;
}

.header-button:focus {
  background-color: #615048;
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.header-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
}

.hero {
  display: flex;
  justify-content: center;
  padding-top: 51px;
  padding-bottom: 82px;
  margin-top: 0;
  background: url("../images/header/index-background.jpg") no-repeat right
    top/cover;
  position: relative;
}

.hero:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 57px;
  background: url("../images/header/divider.svg") no-repeat bottom center;
}

.main-container {
  flex-grow: 1;
  margin-bottom: 0;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.advantages-introduction {
  display: block;
  width: 720px;
  margin: 0 auto;
  margin-top: 63px;
  margin-bottom: 31px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-reasons {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  text-align: center;
  margin-bottom: 80px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  grid-column: 1/-1;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  color: #ffffff;
  background-color: #83b3d3;
}

.about-picture {
  display: block;
}

.about-reverse .about-image {
  order: -1;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 97px;
}

.number {
  display: block;
  margin: 30px 75px;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  min-width: 220px;
  max-width: 250px;
  margin: 30px 87px 75px;
}

.advantages-list-subitem {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-title-subitem {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 187px 75px 20px;
}

.advantages-description-subitem {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 250px;
  margin: 0 75px 79px;
}

.house,
.presents {
  position: relative;
  background-color: rgba(131, 179, 211, 0.12);
}

.food {
  position: relative;
}

.house::before {
  content: "";
  position: absolute;
  top: 89px;
  left: 0;
  right: 0;
  height: 72px;
  background: url("../images/index_icons/icon-1.svg") no-repeat top center;
}

.food::before {
  content: "";
  position: absolute;
  top: 91px;
  left: 0;
  right: 0;
  height: 70px;
  background: url("../images/index_icons/icon-2.svg") no-repeat top center;
}

.presents::before {
  content: "";
  position: absolute;
  top: 85px;
  left: 0;
  right: 0;
  height: 76px;
  background: url("../images/index_icons/icon-3.svg") no-repeat top center;
}

.item-3 {
  grid-column: 1/2;
  background-color: rgba(131, 179, 211, 0.12);
}

.item-4 {
  grid-column: 2/3;
  background-color: rgba(131, 179, 211, 0.2);
}

.item-5 {
  grid-column: 3/3;
  background-color: rgba(131, 179, 211, 0.12);
}

.searching {
  display: block;
  text-align: center;
  padding-top: 91px;
}

.searching-question {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.searching-answer {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-top: 29px;
  margin-bottom: 56px;
}

.searching-button {
  display: inline-block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756257;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 9px 147px;
  margin-bottom: 93px;
  border: 3px solid transparent;
  cursor: pointer;
  border-radius: 10px;
  box-sizing: border-box;
}

.searching-button:hover {
  background-color: #615048;
}

.searching-button:focus {
  background-color: #615048;
  border: 3px solid #83B3D3;
}

.searching-button:active {
  color: rgba(255, 255, 255, .3);
  background-color: #615048;
  
}

.subscribe {
  display: block;
  background-image: url("../images/index_photo/background-subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.subscribe-action {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  margin-top: 29px;
  margin-bottom: 46px;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
}

.subscribe-mail {
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
  border: #f2f2f2 1px solid;
  border-radius: 10px 0px 0px 10px;
  padding-left: 22px;
}

.subscribe-mail:hover {
  background-color: #E6E6E6;
}

.subscribe-mail:focus {
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
}

.subscribe-mail:disabled {
  background-color: #ffffff;
  border: 2px solid #FF5757;
}

.subscribe-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #83b3d3;
  width: 200px;
  padding: 14px 25px;
  border: 3px solid transparent;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;  
}

.subscribe-button:hover {
  background-color: #68A2CA;
}

.subscribe-button:focus {
  background-color: #68A2CA;
  border: 3px solid #756257;
  box-sizing: border-box;
}

.subscribe-button:active {
  background-color: #68A2CA;
  opacity: 0.3;
}

.page-footer {
  padding-top: 37px;
}

.page-footer-container {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 72px;
  padding: 0;
  list-style-type: none;
  margin-top: 9px;
}

.footer-social-item {
  margin-right: 4px;
  margin-bottom: 10px;  
  
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-social-link {
  display: flex;
  align-items: center; 
  justify-content: center;
  color: #83B3D3;
  border: 3px solid transparent;
  border-radius: 10px;
  box-sizing: border-box; 
}

.footer-social-link:hover {
  color: #68A2CA;
}

.footer-social-link:focus {
  color: #68A2CA;
  border: 3px solid #83B3D3;
  border-radius: 10px;
}

.footer-social-link:active {
  color: #68A2CA;
  opacity: 0.3;
}

.footer-social-icon {
  width: 20px;
  height: 20px; 
}

.twitter {
  width: 40px;
  height: 35px;
}

.facebook {
  width: 40px;
  height: 38px;
}

.youtube {
  width: 40px;
  height: 36px;
}

.footer-phone {
  width: 720px;
}

.footer-phone-number {
  display: block;
  width: 361px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-decoration-line: none;
  padding: 12px;
  margin: 0 auto;
  margin-bottom: 30px;
  border: 3px solid transparent;
  border-radius: 10px;
  box-sizing: border-box;
}

.footer-phone-number:hover {
  color: #756257;
}

.footer-phone-number:focus {
  color: #756257;
  border: 3px solid #83B3D3;
}

.footer-phone-number:active {
  color: #756257;
  opacity: 0.3;
}

.footer-author {
  width: 160px;
  height: 70px;
  margin: 0;
  margin-right: 72px;
  padding: 18px 22px;
  color: #000000;
  border: 3px solid transparent;
  border-radius: 10px;
  box-sizing: border-box;
}

.htmlacademy {
  width: 115px;
  height: 34px;
  color: #000000;
}

.footer-author-link svg:hover {
  color: #756257;
}

.footer-author:focus {
  color: #756257;
  border: 3px solid #83B3D3;
}

.footer-author:active {
  color: #756257;
  opacity: 0.3;
}

/* Стилизация страницы каталога */

.header-filter {
  color: #ffffff;
  background-color: #83b3d3;
  background-image: url("../images/catalog_photo/catalog-background.jpg");
  background-repeat: no-repeat;
}

.inner-header-title {
  font-size: 60px;
  line-height: 68px;
  margin: 0;
  padding: 0;
  padding-top: 35px;
  margin-left: 71px;
  margin-bottom: 5px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  list-style-type: none;
  margin-left: 73px;
  margin-bottom: 45px;  
  cursor: pointer;
}

.breadcrumbs-item {
  position: relative;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 26px; 
  border: 3px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;

}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 35px;
  right: 0;
  width: 5px;
  height: 8px;
  opacity: 0.3;
  background: url("../images/arrow.svg") no-repeat;
}

.breadcrumbs-item:last-child::after {
  display: none;
}

.breadcrumbs:hover {
  opacity: 0.6;
}

.breadcrumbs:active {
  opacity: 0.3;
}

.breadcrumbs-item:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.home {
  width: 12px;
  height: 12px;
  color: #ffffff;  
}

.filter-form {
  display: flex;
  padding-bottom: 56px;
}

.filter-title {
  margin-bottom: 30px;
}

.filter-group-1 {
  display: flex;
  flex-direction: column;  
  width: 150px;
  padding: 0;
  margin: 0;
  margin-left: 71px;
  margin-right: 67px;
  border: none;
}

.checkbox {
  display: flex;
  cursor: pointer;
}

.checkbox-hidden {
  display: none;
}

.checkbox-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 4px;
  margin-right: 19px;
  margin-bottom: 16px;
}

.checkbox-hidden:checked ~ .checkbox-icon {
  background: #fff url(../images/checker.svg) no-repeat center center;
}

.checkbox-icon:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.checkbox-hidden:checked ~ .checkbox-icon:hover {
  background: #fff url(../images/checker.svg) no-repeat center center;
  background-color: rgba(255, 255, 255, 0.6);
}

.checkbox-icon:focus {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 3px #83B3D3;
}
.checkbox-hidden:checked ~ .checkbox-icon:focus {
  background: #fff url(../images/checker.svg) no-repeat center center;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 3px #83B3D3;
}

.checkbox-icon:active {
  background-color: rgba(255, 255, 255, 0.3);
}
.checkbox-hidden:checked ~ .checkbox-icon:active {
  background: #fff url(../images/checker.svg) no-repeat center center;
  background-color: rgba(255, 255, 255, 0.3);
}

.filter-group-2 {
  display: flex;
  flex-direction: column;  
  width: 144px;
  padding: 0;
  margin: 0;
  margin-right: 167px;
  border: none;
}

.radio {
  display: flex;
  cursor: pointer;
}

.radio-hidden {
  display: none;
}

.radio-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 19px;
  margin-bottom: 16px;
}

.radio-hidden:checked ~ .radio-icon {
  width: 20px;
  height: 20px;
  background-color: #3F5E72;
  border-radius: 50%;
  box-shadow: inset 0 0 0 5px #fff;
}

.radio-icon:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
}

.radio-hidden:checked ~ .radio-icon:focus {
  width: 20px;
  height: 20px;
  background-color: #3F5E72;
  border-radius: 50%;
  box-shadow: 
  inset 0 0 0 5px #fff,
  0 0 0 3px #83B3D3;
}
 
.filter-group-3 {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.filter-price {
  display: inline-flex;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 23px;
  width: 287px;
  margin-bottom: 32px;
  box-sizing: border-box;
}

.filter-price-form {
  position: relative;
}

.filter-price-form label {
  position: absolute;
  right: 14px;
  top: 14px;
  opacity: 0.3;
}

.filter-price-form input {
  color:#FFFFFF;
  padding-top: 14px;
  padding-bottom: 11px;
  padding-left: 19px;
  
}

.filter-price-form input::-webkit-input-placeholder {
  color:#FFFFFF;  
}

.min-price {
  width: 143px;
  font: inherit;
  color: #FFFFFF;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-right: none;
  border-radius: 4px 0 0 4px;
  margin: 0;
  appearance: textfield;
  box-sizing: border-box;
}

.min-price::-webkit-outer-spin-button,
.min-price::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.max-price {
  width: 143px;
  font: inherit;
  color: #FFFFFF;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 0 4px 4px 0;
  appearance: textfield;
  box-sizing: border-box;
}

.max-price::-webkit-outer-spin-button,
.max-price::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.min-price:hover,
.max-price:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.min-price:focus,
.max-price:focus {
  box-shadow: 
  0px 0px 0px 3px #81B3D2,
  inset 0px 0px 0px 3px #81B3D2;
}

.min-price:active,
.max-price:active {
  background-color: #756257;
}

.range {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-line {
  position: absolute;
  top: 0;
  left: 7%;
  right: 25%;
  bottom: 0;
  background-color: #fff;
}

.range-button {
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  background-color: #fff;
  border: 3px solid transparent;
  border-radius: 5px;  
  top: 50%;
  transform: translateY(-50%);  
}

.range-button:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-button:focus {
  border: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-button-max {
  left: 75%;
}

.filter-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 53px;
  margin-right: 72px;
  margin-left: auto;
}

.apply-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #83b3d3;
  text-align: center;
  text-transform: uppercase;
  width: 160px;
  padding: 13px 35px;
  margin-bottom: 20px;  
  border: 3px solid transparent;
  border-radius: 4px;
  cursor: pointer;  
}

.apply-button:hover {
  background-color: #68A2CA;
}

.apply-button:focus {
  background-color: #68A2CA;
  border: 3px solid #ffffff;
}

.apply-button:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.reset {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  text-align: center;
  width: 100px;
  padding: 4px 10px;
  background: transparent;
  border: 3px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.reset:focus {
  border: 3px solid #83B3D3;
}

.reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.select-top {
  display: flex;
  padding: 44px 71px 53px;
}

.select-sum {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin-right: 192px;
}

.select-control {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  width: 287px;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 19px;
  padding-right: 32px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  box-sizing: border-box;
  background: url("../images/dropdown.svg") no-repeat right 20px center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;  
}

.select-control:hover,
.select-control:focus {
  border: 2px solid #83B3D3;
}

.select-control:active {
  border: 2px solid #E6E6E6;
  color: rgba(51, 51, 51, 0.3);
  opacity: 0.3;
}

.select-buttons {
  margin-left: auto;
  margin-right: 0;
  display: flex;
}

.select-type {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border: 2px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 4px;
}

.select-type:hover,
.select-type:focus {
  border: 2px solid #83B3D3;
}

.select-type:active {
  border: 2px solid #000000;
}

.select-type-current {
  border-color: #000000;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 10px 18px;
  width: 1058px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  margin-bottom: 34px;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 339px;
}

.hotel-card-image {
  display: block;
  object-fit: contain;
  border: 3px solid transparent;
}

.hotel-card-image:hover {
  opacity: 0.6;
}

.hotel-card-image:focus {
  border: 3px solid #83B3D3;
}

.hotel-card-image:active {
  opacity: 0.3;
}

.hotel-card-title-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-decoration: none;
  color: #000000;
  align-self: flex-start;
  margin-left: 20px;
  cursor: pointer;
}

.hotel-card-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 25px;
  width: 300px;
}

.hotel {
  padding: 0;
  margin: 0;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 23px;
}

.details-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756257;
  align-self: flex-start;
  width: 133px;
  padding: 5px 0;
  border: 3px solid transparent;
  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
}

.details-button:hover {
  background-color: #615048;
}

.details-button:focus {
  background-color: #615048;
  border: 3px solid #83B3D3;
}

.details-button:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
}

.favorite-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
  align-self: flex-start;
  width: 141px;
  height: 37px;
  padding: 5px 0;
  border: 3px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
}

.favorite-button:hover {
  background-color: #68A2CA;
  border: 1px solid #756257;
}

.favorite-button:focus {
  background-color: #68A2CA;
  border: 3px solid #756257;
}

.favorite-button:active {
  background-color: #68A2CA;
  border: 1px solid #756257;
  color: rgba(255, 255, 255, 0.3);
}

.green-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #7db54f;
  align-self: end;
  width: 141px;
  padding: 5px 0;
  border: 3px solid transparent;
  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
}

.green-button:hover {
  background-color: #6C9E42;
}

.green-button:focus {
  background-color: #6C9E42;
  border: 3px solid #615048;
}

.green-button:active {
  background-color: #6C9E42;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  margin-top: 16px;
  margin-bottom: 20px;
}

.rating {
  display: flex;
}

.rating-star {
  width: 18px;
  height: 17px;
  color: #83b3d3;
  margin-right: 7px;
}

.hotel-rating {
  width: 160px;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 0;
  border: none;
  border-radius: 4px;
  
}

.show-more-container {
  width: 1055px;
  margin: 0 auto;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.pagination-button {
  font-family: "PT Sans", "Arial", sans-serif;
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
  width: 617px;
  height: 60px;
  padding: 17px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px; 
  box-sizing: border-box; 
  border-radius: 4px;
  border: 3px solid #83b3d3;
  cursor: pointer;  
}

.pagination-button:hover {
  background-color: #68A2CA;
  border: 3px solid #68A2CA;
}

.pagination-button:focus {
  background-color: #68A2CA;
  border: 3px solid #756257;
}

.pagination-button:active {
  background-color: #68A2CA;
  border: 3px solid #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-container {
  display: flex;
  padding: 30px;
  margin-left: 42px;
  margin-right: 42px;
}

.pagination {
  display: flex;
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  margin-right: 8px;
} 

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 52px;
  height: 52px;
  padding: 10px 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #83b3d3;
  border: 3px solid #83b3d3;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-link:hover {
  background-color: #68A2CA;
  border: 3px solid #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
  border: 3px solid #756257;
}

.pagination-link:active {
  background-color: #68A2CA;
  border: 3px solid #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
  border: 3px solid #f2f2f2;
}

.hotels-on-page {
  color: #333333;
  padding: 16px;
}

.show-hotels {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #333333;  
  width: 160px;
  height: 48px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 17px;
  padding-right: 30px;
  margin: 0;
  margin-left: 51px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  box-sizing: border-box;
  background: url("../images/dropdown.svg") no-repeat right 20px center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.subscribe-action-catalog {
  display: block;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 73px;
  margin-bottom: 46px;
}

.subscribe-description-catalog {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-bottom: 46px;
}

.subscribe-form-catalog {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-bottom: 140px;
}

.subscribe-mail {
  font-family: "PT Sans", "Arial", sans-serif;
}
